<h1>Usuarios</h1>
<hr>

<button (click)="agregarUsuario()" class="btn btn-outline-success m-1"> <img src="assets/Iconos/Agregar.png" style="width: 32px;"> Agregar Usuario</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let usuario of Usuarios; let id = index">
            <td>{{ id + 1 }}</td>
            <td>{{ usuario.idusuario }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.correo }}</td>
            <td>
                <button (click)="editarUsuario(usuario)" class="btn btn-outline-warning"> <img src="assets/Iconos/Editar.png" style="width: 32px;"> Editar</button>
            </td>
            <td>
                <button (click)="eliminarUsuario(usuario)" class="btn btn-outline-danger"> <img src="assets/Iconos/Eliminar.png" style="width: 32px;"> Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>